<% unless devise_error_messages!.blank? %>
  <div class="alert alert-danger alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <%= devise_error_messages!.html_safe %>
  </div>
<% end %>